#chatPanel {
  padding-left: 6vw;
  padding-right: 6vw;
}

#formDiv {
  position: fixed;
  bottom: 0;
}

input:focus, input:active {
  outline: none !important;
}

#message {
  background-color: transparent;
  border: none;
  color: darkslategray;
  outline: none;
  outline-width: 0;
  padding: 5px;
  width: 35vw;
}

.watson {
  border-left: 3px solid green;
  border-radius: 4px;
  padding-left: 1vw;
}

.user {
  border-right: 3px solid sienna;
  padding-right: 1vw;
}